<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-up</title>
    <style>
        body {
            font-family: monospace !important;
            background-color: #ededed;
        }
        
        .center{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80vh;
        }
        .container {
            background-color: #fff;
            padding: 35px;
            width: 375px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            box-shadow: 9px 11px 20px 9px rgba(0, 0, 0, 0.1);
        }

        .header {
            text-align: center;
            margin-bottom: 20px;
        }

        .header h1 {
            font-size: 24px;
            color: #000;
        }

        h1>.l {
            font-size: 30px;
            color: #0014eb;
        }

        label {
            font-weight: 700;
            font-size: 16px;
        }

        .inp {
            font-weight: 500;
            width: 100%;
            padding: 2.5px 3.75px;
            margin: 8px 0;
            display: inline-block;
            border: 2px solid #132;
            border-top: 0;
            border-left: 0;
            border-right: 0;
        }

        .inp,
        .inp:focus {
            outline: none;
        }

        button {
            background-color: #0014eb;
            color: white;
            padding: 12px 20px;
            margin: 8px 0;
            width: 100%;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            opacity: 0.925;

            &:hover {
                opacity: 1;
            } 
        }


        .signup {
            /* width: 250px; */
            padding: 0 7.5px;
            text-align: center;
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
        }

        .signup a {
            font-weight: 800;
            color: #0014eb;
            text-decoration: none;
        }

        .signup a:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <div class="nav">
        <%- include('./templates/navbar.ejs') %>
    </div>
    <div class="bgc center">
        <div class="container">
            <div class="header">
                <h1><span class="l">S</span>ign-up</h1>
            </div>
            <form action="/user" method="post">
                <label for="Name">Name</label>
                <input type="text" class="inp" name="name" required placeholder="Enter Name">
                <label for="uname">Email</label>
                <input type="text" class="inp" name="email" required placeholder="Enter Email">
                <label for="psw">Password</label>
                <input type="password" class="inp" name="password" required placeholder="Password">
                <button type="submit">Enter</button>
            </form>
            <div class="signup">
                <b>Already have an account? </b>
                <a href="/login">Sign in</a>
            </div>
        </div>
    </div>
</body>
</html>